<div class="box">
    <div class="login-wrapper">
        <form class="login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <section class="title">
                <h3 class="welcome">Chào mừng đến với</h3>
                Amiss Process
                <!-- <h5 class="hint">Use your Company ID to sign in or create one now</h5> -->
            </section>
            <div class="login-group">
                
                <clr-input-container>
                    <label class="clr-sr-only">Username</label>
                    <input type="text" name="username" clrInput  formControlName="username" id="username" placeholder="Tài khoản" autofocus/>
                </clr-input-container>
                <clr-password-container>
                    <label class="clr-sr-only">Password</label>
                    <input type="password" name="password" clrPassword  formControlName="password" id="password" placeholder="Mật khẩu"/>
                </clr-password-container>
                <div class="error active" *ngIf="errMessage">
                    {{errMessage}}
                </div>
                <button type="submit" *ngIf="!submitted" class="btn btn-primary"> Đăng nhập</button>
                <clr-spinner class="custom-spinner" *ngIf="submitted" clrMedium ></clr-spinner>
            </div>
        </form>
    </div>
</div>