<div *ngFor="let field of fields" [ngSwitch]="field.type">
    <clr-input-container *ngSwitchCase="'Text'">
        <label class="clr-col-12 ">{{field.name}}{{(field.required == true) ? '*': ''}} <clr-icon
                shape="close" (click)="emitDelete(field.fieldId)" style="cursor: pointer;"></clr-icon></label>

        <input class="clr-col-12 " placeholder="Enter text" clrInput name="name" required />
        <clr-control-helper>{{ field.description }}</clr-control-helper>
        <clr-control-error>This field is required!</clr-control-error>
    </clr-input-container>

    <clr-textarea-container *ngSwitchCase="'Longtext'">
        <label class="clr-col-12 ">{{field.name}}{{(field.required == true) ? '*': ''}}
            <clr-icon shape="close" (click)="emitDelete(field.fieldId)" style="cursor: pointer;"></clr-icon>
        </label>
        <textarea class="clr-col-12 " clrTextarea name="description" required></textarea>
        <clr-control-helper>{{ field.description }}</clr-control-helper>
    </clr-textarea-container>

    <clr-input-container *ngSwitchCase="'Email'">
        <label class="clr-col-12 ">{{field.name}}{{(field.required == true) ? '*': ''}}
            <clr-icon shape="close" (click)="emitDelete(field.fieldId)" style="cursor: pointer;"></clr-icon>
        </label>
        <input class="clr-col-12 " type="email" placeholder="Enter email" clrInput name="name" required />
        <clr-control-helper>{{ field.description }}</clr-control-helper>
        <clr-control-error>This field is required!</clr-control-error>
    </clr-input-container>

    <clr-input-container *ngSwitchCase="'Number'">
        <label class="clr-col-12 ">{{field.name}}{{(field.required == true) ? '*': ''}}
            <clr-icon shape="close" (click)="emitDelete(field.fieldId)" style="cursor: pointer;"></clr-icon>
        </label>
        <input class="clr-col-12 " type="number" placeholder="Enter number" clrInput name="name" required />
        <clr-control-helper>{{ field.description }}</clr-control-helper>
        <clr-control-error>This field is required!</clr-control-error>
    </clr-input-container>

    <clr-input-container *ngSwitchCase="'Date'">
        <label class="clr-col-12 ">{{field.name}}{{(field.required == true) ? '*': ''}} <clr-icon
                shape="close" (click)="emitDelete(field.fieldId)" style="cursor: pointer;"></clr-icon></label>
        <input class="clr-col-12 " type="date" clrInput name="demo">
        <clr-control-helper>{{ field.description }}</clr-control-helper>
    </clr-input-container>


    <clr-input-container *ngSwitchCase="'Datetime'">
        <label class="clr-col-12 ">{{field.name}}{{(field.required == true) ? '*': ''}}
            <clr-icon shape="close" (click)="emitDelete(field.fieldId)" style="cursor: pointer;"></clr-icon>
        </label>
        <input class="clr-col-12 " type="datetime-local" clrInput name="name"
            required />
        <clr-control-helper>{{ field.description }}</clr-control-helper>
        <clr-control-error>This field is required!</clr-control-error>
    </clr-input-container>

    <clr-input-container *ngSwitchCase="'Time'">
        <label class="clr-col-12 ">{{field.name}}{{(field.required == true) ? '*': ''}}
            <clr-icon shape="close" (click)="emitDelete(field.fieldId)" style="cursor: pointer;"></clr-icon>
        </label>
        <input class="clr-col-12 " type="time"  clrInput name="name" required />
        <clr-control-helper>{{ field.description }}</clr-control-helper>
        <clr-control-error>This field is required!</clr-control-error>
    </clr-input-container>

    <clr-checkbox-container *ngSwitchCase="'Check Box'">
        <label class="clr-col-12 ">{{field.name}}{{(field.required == true) ? '*': ''}}
            <clr-icon shape="close" (click)="emitDelete(field.fieldId)" style="cursor: pointer;"></clr-icon>
        </label>
        <clr-checkbox-wrapper *ngFor="let option of field.fieldOption">
            <input class="clr-col-12 " type="checkbox" clrCheckbox [value]="option.id" #option.id
                name="options" />
            <label>{{option.value}}</label>
        </clr-checkbox-wrapper>
        <clr-control-helper>{{ field.description }}</clr-control-helper>
        <clr-control-error>This field is required!</clr-control-error>
    </clr-checkbox-container>

    <clr-radio-container *ngSwitchCase="'Radio'">
        <label class="clr-col-12 ">{{field.name}}{{(field.required == true) ? '*': ''}}
            <clr-icon shape="close" (click)="emitDelete(field.fieldId)" style="cursor: pointer;"></clr-icon>
        </label>
        <clr-radio-wrapper *ngFor="let option of field.fieldOption">
            <input class="clr-col-12 " type="radio" clrRadio name="field.type" required
                [value]="option.id" />
            <label>{{option.value}}</label>
        </clr-radio-wrapper>
        <clr-control-helper>{{ field.description }}</clr-control-helper>
        <clr-control-error>This field is required!</clr-control-error>
    </clr-radio-container>

    <clr-input-container *ngSwitchCase="'Attachment'">
        <label class="clr-col-12 ">{{field.name}}{{(field.required == true) ? '*': ''}}
            <clr-icon shape="close" (click)="emitDelete(field.fieldId)" style="cursor: pointer;"></clr-icon>
        </label>
        <input class="clr-col-12 " type="file" placeholder="Atachment" clrInput name="name" required />
        <clr-control-helper>{{ field.description }}</clr-control-helper>
        <clr-control-error>This field is required!</clr-control-error>
    </clr-input-container>
</div>