
.title {
    margin-top: 0px; 
    margin-bottom: 10px;
}

.inline-block{
    margin-right: 5px;
    display: inline-block !important;  
}
.inline-block select{
   top : 1px
}

input[type="text"]{
    width: 95%;
}

textarea{
    width: 95%;
}
.list-field{
    margin-top: 10px;
    max-height: 200px;
    overflow: auto;
    border: solid 1px grey; 
    padding: 10px;
}

.list-employee{
    margin-top: 10px;
    max-height: 200px;
    overflow: auto;
  /* border: solid 1px grey; */
    padding-bottom: 10px;
}