<h3 class="title">Thêm giai đoạn</h3>
<clr-tabs>
    <clr-tab *ngFor="let item of listPhase">
        <button clrTabLink>{{item.name}}</button>
        <ng-template [(clrIfActive)]="item.active">
            <clr-tab-content>
                <div class="clr-row">
                    <div class="clr-col-12 clr-col-md-4">
                      
                   
                <form clrForm clrLayout="vertical" autocomplete="off">
                    <clr-alert *ngIf="item.errorAddPhase" clrAlertType="danger">
                        <div class="alert-item">
                            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                            <span class="alert-text">
                               {{item.errorAddPhase}}
                            </span>
                            
                        </div>
                    </clr-alert>
                   
                    <clr-input-container>
                        <label class="clr-col-12">Tên</label>
                        <input class="clr-col-12" clrInput type="text" [(ngModel)]="item.name"
                            name="item.name" appAutoFocus required *ngIf="item.posittion != 3" (keyup)="resetError(item)" />
                        <input class="clr-col-12" clrInput type="text" [ngModel]="item.name"
                            name="item.name" appAutoFocus disabled *ngIf="item.posittion == 3" />
                    </clr-input-container>
                    <clr-textarea-container>
                        <label class="clr-col-12">Mô tả</label>
                        <textarea class="clr-col-12" clrTextarea [(ngModel)]="item.description"
                            name="description" (keyup)="resetError(item)" required></textarea>
                    </clr-textarea-container>
                    <div class="clr-col-12 clr-col-md-6">
                        <clr-input-container *ngIf="item.posittion != 3">
                            <label>Các trường</label>
                        </clr-input-container>

                        <!-- add new field  -->
                        <button class="btn btn-primary btn-sm" style="display: none;">Thêm trường mới</button>
                        <button class="btn btn-primary btn-sm" (click)="$event.preventDefault(); showModalAdd = true"
                            *ngIf="item.posittion != 3">Thêm trường mới</button>
                        <!-- begin  add field -->
                        <app-add-field  [phase]="item" [open]="showModalAdd"
                            (close)="showModalAdd=false"></app-add-field>

                        <!-- end  add field -->
                    </div>
                    <div *ngIf="item.posittion != 3">

                        <!-- begin list field -->
                        <div class="list-field clr-col-12">
                            <app-list-field [fields]="item.field" (onDeleteField)="deleteFieldHandle(item,$event)">
                            </app-list-field>
                        </div>
                        <!-- end list field -->
                        <div class=" clr-col-12">
                            <clr-input-container class="inline-block">
                                <label>Thời gian thực hiện</label>
                                <input clrInput type="number" [(ngModel)]="item.timeImplement" placeholder="Nhập số" name="item.timeImplement" (keyup)="resetError(item)"
                                    required />
                            </clr-input-container>
                            <clr-select-container class="inline-block">
                                <select clrSelect name="options" [(ngModel)]="item.timeImplementType">
                                    <option value="hour">Giờ</option>
                                    <option value="day">Ngày</option>
                                    <option value="month">Tháng</option>
                                </select>
                            </clr-select-container>
                        </div>
                        <div *ngIf="item.serial != 1">
                           

                             <clr-radio-container clrInline class=" clr-col-12 clr-col-md-6">
                                <label>Người thực hiện</label>
                                <clr-radio-wrapper>
                                    <input type="radio" clrRadio name="options" required value="all"
                                        [(ngModel)]="item.employeeImplementType" />
                                    <label>Tất cả</label>
                                </clr-radio-wrapper>
                                <clr-radio-wrapper>
                                    <input type="radio" clrRadio name="options" required value="limit"
                                        [(ngModel)]="item.employeeImplementType" />
                                    <label>Giới hạn</label>
                                </clr-radio-wrapper>
                            </clr-radio-container>
                            <div *ngIf="item.employeeImplementType == 'limit'" class=" clr-col-12"> 
                                <app-add-employee [phase]="item" (addEmployee)="addEmployeeHandle(item,$event)"></app-add-employee>
                                <div class="list-employee">
                                   
                                    <ul class="list-unstyled">
                                        <li *ngFor="let phaseEmployee of item.phaseEmployee">
                                            {{phaseEmployee.employee.fullName + ' - '+ phaseEmployee.employee.employeeCode}}
                                            <clr-icon shape="close" (click)="deletePersonHandle(item,phaseEmployee.phaseEmployeeId)"
                                                style="cursor: pointer;"></clr-icon>
                                        </li>
                                    </ul>
                                </div>
                             </div> 
                        </div>
                    </div>
                    <div style="margin-top: 10px;">
                        <button [clrLoading]="saveAllState" class="btn btn-primary btn-sm" (click)="submitHandle(item)" title="Lưu lại toàn bộ thay đổi">Lưu lại</button>
                        <button class="btn btn-primary btn-sm" (click)="cancelHandle($event)">Hủy</button>
                    </div>
                       
                   
                </form>
            </div>
            <div class="clr-col-6" style="margin-top: 23px;">
                <button class="btn btn-primary btn-sm btn-danger" (click)="deleteHandle(item)"
                *ngIf="item.posittion == 2">Xóa</button>
                <button class="btn btn-primary btn-sm" (click)="addPhaseHandle(item, $event)" *ngIf="item.posittion != 3">Thêm giai đoạn
                    mới</button>
            </div>
        </div>
               
            </clr-tab-content>
        </ng-template>
    </clr-tab>

</clr-tabs>