<div class="main-container">
	<!-- begin header -->
	<header class="header-6">
		<div class="branding">
			<a href="run-process" class="nav-link">
				<span class="title">Amis Process</span>
			</a>
		</div>
		<div class="header-actions">
			<clr-dropdown>
				<button class="nav-text" clrDropdownTrigger aria-label="open user profile">
					{{currentUser.fullName}}
					<clr-icon shape="caret down"></clr-icon>
				</button>
				<clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
					<a  clrDropdownItem (click)="test()"> <clr-icon shape="user" ></clr-icon>Hồ sơ </a>
					<a  (click)="logOut()" clrDropdownItem> <clr-icon shape="logout" ></clr-icon>Đăng xuất</a>
				</clr-dropdown-menu>
			</clr-dropdown>
		</div>
	</header>
	<!-- end header -->
	<div class="content-container">
		<!-- begin content -->
		<div class="content-area">
			<router-outlet></router-outlet>
		</div>
		<!-- end content -->
		<!-- begin sidebar -->
		<clr-vertical-nav [clrVerticalNavCollapsible]="true">

			<div *ngFor="let item of sidebarLinks">
			<clr-vertical-nav-group routerLinkActive="" *ngIf="item.childs && item.role.includes(currentUser.role)">
				<clr-icon attr.shape="{{item.icon}}" clrVerticalNavIcon></clr-icon>
				{{item.name}}
				<clr-vertical-nav-group-children>
					<a clrVerticalNavLink routerLink="{{'/'+ item.path+'/'+ child.path}}" routerLinkActive="active" *ngFor="let child of item.childs">
						{{child.name}}
					</a>
				</clr-vertical-nav-group-children>
			</clr-vertical-nav-group>

			<a clrVerticalNavLink routerLinkActive="active" [routerLink]="'/'+ item.path" *ngIf="!item.childs && item.role.includes(currentUser.role)" >
				<clr-icon attr.shape="{{item.icon}}" clrVerticalNavIcon></clr-icon>
				{{item.name}}
			</a>
		</div>
		</clr-vertical-nav>
			<!-- end sidebar -->
	</div>
</div>