<button class="btn btn-icon btn-primary" (click)="showModal = true" *ngIf="mode == 'add'"  title="Tạo quy trình mới" >
    <clr-icon shape="plus" ></clr-icon>
    </button>

    <button class="btn btn-icon btn-primary" (click)="showModal = true" *ngIf="mode == 'edit'"  title="Chỉnh sửa quy trình">
        <clr-icon shape="pencil" ></clr-icon>
       
        </button>
<clr-modal [(clrModalOpen)]="showModal" class="addModal" *ngIf="showModal"> <!    --them ngif de su dung directive appAutoFocus, -->

    <h3 class="modal-title" *ngIf="mode == 'add'">Tạo quy trình mới</h3>
    <h3 class="modal-title" *ngIf="mode == 'edit'">Chỉnh sửa quy trình</h3>

    <div class="modal-body">
        <clr-alert *ngIf="errorMessage" clrAlertType="danger">
            <div class="alert-item">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                <span class="alert-text">
                    {{ errorMessage}}
                </span>
                
            </div>
        </clr-alert>

        <form clrForm  autocomplete="off">
            <clr-input-container>
                <label class="clr-control-label clr-col-12 clr-col-md-6">Tên quy trình</label>
                <input clrInput type="text" [(ngModel)]="newProcess.name" name="example" id="test"
                    class="clr-input clr-col-12 clr-col-md-12" (keyup)="errorMessage = ''" appAutoFocus />
            </clr-input-container>
            <clr-textarea-container>
                <label class="clr-control-label clr-col-12 clr-col-md-6">Mô tả</label>
                <textarea clrTextarea [(ngModel)]="newProcess.description" name="description"
                    class=" clr-col-12 clr-col-md-12" ></textarea>
            </clr-textarea-container>
          
                <clr-datalist-container>
                    <label  class="clr-control-label clr-col-12 clr-col-md-6">Danh mục</label>
                    <input minlength="2" name="Category" required  
                           clrDatalistInput [disabled]="disabled" [(ngModel)]="newProcess.category.name"/>
                    <datalist>
                        <option *ngFor="let item of listCategory" [value]="item.name"></option>
                    </datalist>
                    <clr-control-helper>Nếu danh mục không tồn tại, nhập để thêm mới</clr-control-helper>
                    <clr-control-error>Có lỗi xảy ra</clr-control-error>
                </clr-datalist-container>

                <clr-select-container *ngIf="mode =='edit'">
                    <label class="clr-control-label clr-col-12 clr-col-md-6">Trạng thái</label>
                    <select clrSelect name="options" [(ngModel)]="newProcess.status">
                      <option value="maintain">Bảo trì</option>
                      <option value="stop">Dừng hoạt động</option>
                      <option value="active">Hoạt động</option>
                      <option value="draft">Phác thảo</option>

                    </select>
                  </clr-select-container>
      
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="showModal= false">Cancel</button>
        <button [clrLoading]="btnIsLoading" type="button" class="btn btn-primary" (click)="submitProcess(mode)">Ok</button>
    </div>
</clr-modal>