<button class="btn btn-primary btn-sm" (click)="showModalAdd = true">Thêm mới</button>
<clr-modal [(clrModalOpen)]="showModalAdd" class="addModal">

    <h3 class="modal-title">Tạo quy trình mới</h3>

    <div class="modal-body">
        <clr-alert *ngIf="errorMessage" clrAlertType="danger">
            <div class="alert-item">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                <span class="alert-text">
                    {{ errorMessage}}
                </span>
            </div>
        </clr-alert>

        <form clrForm >
            <clr-input-container>
                <label class="clr-control-label clr-col-12 clr-col-md-6">Tên quy trình</label>
                <input clrInput type="text" [(ngModel)]="newProcess.name" name="example"
                    class="clr-input clr-col-12 clr-col-md-12" (keyup)="errorMessage = ''" autofocus required />
            </clr-input-container>
            <clr-textarea-container>
                <label class="clr-control-label clr-col-12 clr-col-md-6">Mô tả</label>
                <textarea clrTextarea [(ngModel)]="newProcess.description" name="description"
                    class=" clr-col-12 clr-col-md-12" required></textarea>
            </clr-textarea-container>
            <clr-select-container *ngIf="!canAddCategory">
                <label class="clr-control-label clr-col-12 clr-col-md-6">Danh mục</label>
                <select clrSelect name="options" [(ngModel)]="newProcess.categoryId"
                    class="clr-col-md-12 clr-col-12">
                    <option [value]="item.id" *ngFor="let item of listCategory">{{ item.name}}</option>
                </select>
            </clr-select-container>
            <clr-toggle-container>
                <clr-toggle-wrapper>
                  <input type="checkbox" clrToggle value="option1" name="options" [(ngModel)]="canAddCategory" />
                  <label>Tạo mới</label>
                </clr-toggle-wrapper>
              </clr-toggle-container>
            <clr-input-container style="margin-top: 0px;" *ngIf="canAddCategory">
                <input clrInput type="text" [(ngModel)]="newCategory" name="example"
                    class="clr-input clr-col-12 clr-col-md-12" />
            </clr-input-container>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="showModalAdd = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="addProcessHandle()">Ok</button>
    </div>
</clr-modal>