.border-right{
    border-right: solid 1px;
}

.title {
    margin-top: 0px; 
    margin-bottom: 10px;
}
p {
    margin-top: 0px;
}
.action {
margin-top: 9px;

}

#search_input {
    width: 100%;
}

.select{
    margin-top: 0px;
}

.addModal input[type="text"], textarea{
    width: 95%;
}

.border-none{
    border: none !important;
}

.button-add{
    margin-top: 20px;
    padding-left: 0px;
}