<h3>{{process.name}}</h3>
<p>Giai đoạn : {{phase.name}}</p>
<p>Mô tả : {{phase.description}}</p>

<form clrForm clrLayout="vertical">
    <div *ngFor="let item of phase.fields" [ngSwitch]="item.type">
        <clr-input-container *ngSwitchCase="'Text'">
            <label  class="clr-col-12 clr-col-md-4">{{item.name}}{{(item.required == true) ? '*': ''}}</label>

            <input  class="clr-col-12 clr-col-md-4" placeholder="Full name" clrInput [(ngModel)]="item.value" name="name" required />
            <clr-control-helper>{{ item.description }}</clr-control-helper>
            <clr-control-error>This field is required!</clr-control-error>
          </clr-input-container>

          <clr-textarea-container *ngSwitchCase="'Long Text'">
            <label  class="clr-col-12 clr-col-md-4">{{item.name}}{{(item.required == true) ? '*': ''}}</label>
            <textarea  class="clr-col-12 clr-col-md-4" clrTextarea [(ngModel)]="item.value" name="description" required></textarea>
            <clr-control-helper>{{ item.description }}</clr-control-helper>
          </clr-textarea-container>

          <clr-input-container *ngSwitchCase="'Email'">
            <label  class="clr-col-12 clr-col-md-4">{{item.name}}{{(item.required == true) ? '*': ''}}</label>
            <input  class="clr-col-12 clr-col-md-4"  type="email" placeholder="Full name" clrInput [(ngModel)]="item.value" name="name" required />
            <clr-control-helper>{{ item.description }}</clr-control-helper>
            <clr-control-error>This field is required!</clr-control-error>
          </clr-input-container>

          <clr-input-container *ngSwitchCase="'Number'">
            <label  class="clr-col-12 clr-col-md-4">{{item.name}}{{(item.required == true) ? '*': ''}}</label>
            <input  class="clr-col-12 clr-col-md-4" type="number" placeholder="Full name" clrInput [(ngModel)]="item.value" name="name" required />
            <clr-control-helper>{{ item.description }}</clr-control-helper>
            <clr-control-error>This field is required!</clr-control-error>
          </clr-input-container>

          <clr-input-container *ngSwitchCase="'Date'">
            <label  class="clr-col-12 clr-col-md-4">{{item.name}}{{(item.required == true) ? '*': ''}}</label>
            <input  class="clr-col-12 clr-col-md-4" type="date" clrInput name="demo" [(ngModel)]="item.value">
            <clr-control-helper>{{ item.description }}</clr-control-helper>
        </clr-input-container>


        <clr-input-container *ngSwitchCase="'Datetime'">
            <label  class="clr-col-12 clr-col-md-4">{{item.name}}{{(item.required == true) ? '*': ''}}</label>
            <input  class="clr-col-12 clr-col-md-4" type="datetime-local" placeholder="Full name" clrInput [(ngModel)]="item.value" name="name" required />
            <clr-control-helper>{{ field.description }}</clr-control-helper>
            <clr-control-error>This field is required!</clr-control-error>
        </clr-input-container>

        <clr-input-container *ngSwitchCase="'Time'">
            <label  class="clr-col-12 clr-col-md-4">{{item.name}}{{(item.required == true) ? '*': ''}}</label>
            <input  class="clr-col-12 clr-col-md-4" type="time" placeholder="Full name" clrInput [(ngModel)]="item.value" name="name" required />
            <clr-control-helper>{{ item.description }}</clr-control-helper>
            <clr-control-error>This field is required!</clr-control-error>
        </clr-input-container>

        <clr-checkbox-container *ngSwitchCase="'Check Box'">
            <label  class="clr-col-12 clr-col-md-4">{{item.name}}{{(item.required == true) ? '*': ''}}</label>
            <clr-checkbox-wrapper  *ngFor="let option of item.options">
              <input  class="clr-col-12 clr-col-md-4" type="checkbox" clrCheckbox [value]="option.id" #option.id name="options" (click)="setValueCheckBox(item,option.id,$event.target)" />
              <label>{{option.value}}</label>
            </clr-checkbox-wrapper>
            <clr-control-helper>{{ item.description }}</clr-control-helper>
            <clr-control-error>This field is required!</clr-control-error>
          </clr-checkbox-container>

          <clr-radio-container *ngSwitchCase="'Radio Select'"> 
            <label   class="clr-col-12 clr-col-md-4">{{item.name}}{{(item.required == true) ? '*': ''}}</label>
            <clr-radio-wrapper *ngFor="let option of item.options">
              <input  class="clr-col-12 clr-col-md-4" type="radio" clrRadio name="field.type"  required [value]="option.id" [(ngModel)]="item.value" />
              <label >{{option.value}}</label>
            </clr-radio-wrapper>
            <clr-control-helper>{{ item.description }}</clr-control-helper>
            <clr-control-error>This field is required!</clr-control-error>
          </clr-radio-container>

          <clr-input-container *ngSwitchCase="'Attachment'">
            <label  class="clr-col-12 clr-col-md-4">{{field.name}}{{(item.required == true) ? '*': ''}}</label>
            <input  class="clr-col-12 clr-col-md-4" type="file" placeholder="Full name" clrInput [(ngModel)]="item.value" name="name" required />
            <clr-control-helper>{{ item.description }}</clr-control-helper>
            <clr-control-error>This field is required!</clr-control-error>
          </clr-input-container>

         
          
        
    </div>
          <button class="btn btn-primary btn-sm" (click)="$event.preventDefault() ;showConfirmModal = true">Hoàn thành</button>
          <button class="btn btn-primary btn-sm" (click)="cancelHandle($event)">Hủy</button>
</form>

<clr-modal [(clrModalOpen)]="showConfirmModal" [clrModalSize]="'sm'">
  <h3 class="modal-title">Chọn người xử lý</h3>
  <div class="modal-body">
    <clr-select-container>
      <label class="clr-col-12 clr-col-md-4" >Chọn</label>
      <select class="clr-col-12 clr-col-md-2" clrSelect name="options" [value]="assignee" required>
        <option [value]="person.employeeCode" *ngFor="let person of nextPhase.personImplement" >{{person.firstName + ' ' + person.lastName + ' - ' + person.employeeCode}}</option>
      </select>
    </clr-select-container>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="showConfirmModal = false">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="submitHandle()">Ok</button>
  </div>
</clr-modal>