<div *ngIf="process">
    <!-- de tranh bi loi undefined. -->

    <h3 class="title">{{process.name }} &nbsp; <app-process-action mode='edit' [process]="process"></app-process-action>
    </h3>
    <p><span class="text-black">Người tạo :&emsp;</span>  {{ process.createdBy}}</p>
    <p><span class="text-black">Thời gian tạo :&emsp; </span>{{ process.createdAt| date: 'dd/MM/yyyy h:mm:ss a'}}</p>
    <p><span class="text-black">Chỉnh sửa gần nhất :&emsp;</span> {{ process.updatedAt | date: 'dd/MM/yyyy h:mm:ss a'}} bởi {{ process.updatedBy}}</p>
    <p><span class="text-black">Trạng thái :&emsp;</span> {{process.status}} </p>
</div>

<div class="clr-row">
    <div class="clr-col-lg-3 clr-col-sm-6 clr-col-12" *ngFor="let item of phases">
        <div class="clr-row">
            <div class="clr-col-sm-10  clr-col-12">
                <div class="card">
                    <div class="card-header title">
                        {{item.serial + '. ' + item.name}}
                    </div>
                    <div class="card-block">
                        <div class="card-title" style="font-size: 16px;font-weight: 400;">
                            {{item.description}}
                        </div>
                        <div class="card-text">

                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-success-outline"  *ngIf="item.posittion != 3"
                            (click)="router.navigateByUrl('/manage-process/process/' + processId+ '/edit/' + item.serial)">Sửa</button>
                        <button class="btn btn-sm btn-danger-outline" *ngIf="item.posittion == 2"
                            (click)="item.isDel = true">Xóa</button>
                        <clr-modal [(clrModalOpen)]="item.isDel" class="addModal">

                            <h3 class="modal-title">Bạn có chắc xóa giai đoạn "{{item.name}}" không?</h3>

                            <div class="modal-body">
                                <p>Thao tác không thể hoàn lại</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline"
                                    (click)="item.isDel = false">Cancel</button>
                                <button [clrLoading]="deletePhaseState" type="button" class="btn btn-primary"
                                    (click)="deletePhaseHandle(item)">Ok</button>
                            </div>
                        </clr-modal>
                    </div>
                </div>
            </div>
            <div class="clr-col-sm-2 clr-col-6  button-add">
                <button type="button" class="btn btn-icon" *ngIf="item.posittion != 3"
                    (click)="router.navigateByUrl('/manage-process/process/' + processId+ '/add/' + item.serial)"
                    aria-label="home">
                    <clr-icon shape="plus-circle"></clr-icon>
                </button>
            </div>
        </div>
    </div>
</div>