.border-right{
    border-right: solid 1px;
}

.title {
    margin-top: 0px; 
    margin-bottom: 10px;
    font-weight: 500;
}
div.card-header.title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
p {
    margin-top: 0px;
}
.action {
margin-top: 9px;

}

#search_input {
    width: 100%;
}

.select{
    margin-top: 0px;
}

.addModal input[type="text"], textarea{
    width: 95%;
}

.border-none{
    border: none !important;
}

.button-add{
    margin-top: 20px;
    padding-left: 0px;
}

.text-black{
    color: black;
    font-weight: 500;
    font-size: 13px;
}