
<clr-datagrid>
    <clr-dg-column>Tên quy trình</clr-dg-column>
    <clr-dg-column>Người tạo</clr-dg-column>
    <clr-dg-column>Thời gian tạo</clr-dg-column>
    <clr-dg-column>Chỉnh sửa mới nhất</clr-dg-column>
    <clr-dg-column>Trạng thái</clr-dg-column>
    <clr-dg-column>Danh mục</clr-dg-column>
    <clr-dg-row *ngFor="let item of data">
        <clr-dg-cell>{{item.name}}</clr-dg-cell>
        <clr-dg-cell>{{item.createdBy}}</clr-dg-cell>
        <clr-dg-cell>{{item.createdTime | date}}</clr-dg-cell>
        <clr-dg-cell>{{item.updatedTime + ' bởi ' + item.updatedBy }}</clr-dg-cell>
        <clr-dg-cell>{{item.status}}</clr-dg-cell>
        <clr-dg-cell>{{item.category.name}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{data.length}} item</clr-dg-footer>
</clr-datagrid>